# Submission by:
#### Fahad Maqsood
#### Dated: 28-12-2021

# Task 1: Data Engineering
*********************************************

# Initializiation and Importing all the necessary Modules and Libraries

In [1]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

import findspark
findspark.init()
findspark.find()
import pyspark

from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark.sql.types import * 
from pyspark.sql.functions import *

import pandas 


conf = pyspark.SparkConf().setAppName('Daimler Programming_Challange').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
sqlcontext=SQLContext(sc)

In [2]:
# Testing Creation of a Spark Session
spark

## 1- Loading Data/Data Extraction

In [3]:
# Extracting Excel sheets sales_codes, vehicle_hash and engines from vehicle_data.xlsx
sales_codes = pandas.read_excel('vehicle_data.xlsx', sheet_name='sales_codes', inferSchema=True)
vehicle_hash = pandas.read_excel('vehicle_data.xlsx', sheet_name='vehicle_hash', inferSchema=True)
engines = pandas.read_excel('vehicle_data.xlsx', sheet_name='engines', inferSchema=True)

# Conversion of excel sheets to csv files with their respective names
sales_codes.to_csv('sales_codes.csv', encoding='utf-8')
vehicle_hash.to_csv('vehicle_hash.csv', encoding='utf-8')
engines.to_csv('engines.csv', encoding='utf-8')

# Output:  sales_codes.csv, vehicle_hash.csv, engines.csv created.
# Check if the DATA is READY for further processing

#### Creating Spark Dataframes from the csv files

In [4]:
# Loading data from the csv files into the dataframes of the same name
sales_codes_df=spark.read.csv('sales_codes.csv',inferSchema=True,header=True)
vehicle_hash_df=spark.read.csv('vehicle_hash.csv',inferSchema=True,header=True)
engines_df=spark.read.csv('engines.csv',inferSchema=True,header=True)

In [5]:
# Displaying the dataframes with schemas
sales_codes_df.show(5)
vehicle_hash_df.show(5)
engines_df.show(5)
sales_codes_df.printSchema()
vehicle_hash_df.printSchema()
engines_df.printSchema()

+---+----------+--------------------+-------------------+---------+--------------------+
|_c0|Unnamed: 0|      h_vehicle_hash|    production_date|  country|    sales_code_array|
+---+----------+--------------------+-------------------+---------+--------------------+
|  0|         0|924d229bede272c5a...|2013-02-05 00:00:00|  Namibia|Z5E, M3E, A4S, Y1...|
|  1|         0|3787a8db036dabd74...|2012-08-27 00:00:00|  Germany|Z5D, M2N, K1X, Q2...|
|  2|         0|aea31cdf4f575acf1...|2015-08-11 00:00:00|  Germany|Z5C, M2A, A5H, P7...|
|  3|         0|d92ed338496281e08...|2015-02-22 00:00:00|Lithuania|Z5F, M3P, D3H, C8...|
|  4|         0|7934c4872515da4b1...|2017-03-10 00:00:00|  Germany|Z5B, M1K, L1T, E6...|
+---+----------+--------------------+-------------------+---------+--------------------+
only showing top 5 rows

+---+----------+--------------------+-----------------+-------------+--------------------+
|_c0|Unnamed: 0|      h_vehicle_hash|              fin|record_source|             load_ts|
+---+----------+--------------------+-----------------+-------------+--------------------+
|  0|         0|924d229bede272c5a...|WEB14561113188001|        vedoc|2021-11-26 12:22:...|
|  1|         0|3787a8db036dabd74...|W1T61600516560507|        vedoc|2021-11-26 12:22:...|
|  2|         0|aea31cdf4f575acf1...|WEB74212637167838|        vedoc|2021-11-26 12:22:...|
|  3|         0|d92ed338496281e08...|WDB73045113294326|        vedoc|2021-11-26 12:22:...|
|  4|         0|7934c4872515da4b1...|W1T38483757441350|        vedoc|2021-11-26 12:22:...|
+---+----------+--------------------+-----------------+-------------+--------------------+
only showing top 5 rows

+---+-------------+--------------------+-------------------+-------------+----------+-------------------+-------------------+
|_c0|Code Group Id| Code Group Name En |Code Group Name De |  Folder Name|Sales Code|Code Description En|Code Description De|
+---+-------------+--------------------+-------------------+-------------+----------+-------------------+-------------------+
|  0|          131|powertrain engine...|     motor baureihe|06 Powertrain|       M0I|             OM 924|             OM 924|
|  1|          131|powertrain engine...|     motor baureihe|06 Powertrain|       M0J|             OM 926|             OM 926|
|  2|          131|powertrain engine...|     motor baureihe|06 Powertrain|       Z5A|             M 936G|             M 936G|
|  3|          131|powertrain engine...|     motor baureihe|06 Powertrain|       Z5B|             OM 934|             OM 934|
|  4|          131|powertrain engine...|     motor baureihe|06 Powertrain|       Z5C|             OM 936|             OM 936|
+---+-------------+--------------------+-------------------+-------------+----------+-------------------+-------------------+
only showing top 5 rows

root
 |-- _c0: integer (nullable = true)
 |-- Unnamed: 0: integer (nullable = true)
 |-- h_vehicle_hash: string (nullable = true)
 |-- production_date: string (nullable = true)
 |-- country: string (nullable = true)
 |-- sales_code_array: string (nullable = true)

root
 |-- _c0: integer (nullable = true)
 |-- Unnamed: 0: integer (nullable = true)
 |-- h_vehicle_hash: string (nullable = true)
 |-- fin: string (nullable = true)
 |-- record_source: string (nullable = true)
 |-- load_ts: string (nullable = true)

root
 |-- _c0: integer (nullable = true)
 |-- Code Group Id: integer (nullable = true)
 |-- Code Group Name En : string (nullable = true)
 |-- Code Group Name De : string (nullable = true)
 |-- Folder Name: string (nullable = true)
 |-- Sales Code: string (nullable = true)
 |-- Code Description En: string (nullable = true)
 |-- Code Description De: string (nullable = true)

### Initial Data Analysis and Observations

#### Testing Data and Looking for corrupt values and errors

In [6]:
# Overview of Dataframes before cleaning
sales_codes_df.describe().show()
vehicle_hash_df.describe().show()

+-------+-----------------+----------+--------------------+-------------------+-----------+--------------------+
|summary|              _c0|Unnamed: 0|      h_vehicle_hash|    production_date|    country|    sales_code_array|
+-------+-----------------+----------+--------------------+-------------------+-----------+--------------------+
|  count|              500|       500|                 495|                497|        490|                 500|
|   mean|            249.5|       0.0|                null|               null|       null|                null|
| stddev|144.4818327679989|       0.0|                null|               null|       null|                null|
|    min|                0|         0|00cb7b6fc44b7d6cd...|         05.06.1899|Afghanistan|Z5B, M1H, D2H, S5...|
|    max|              499|         0|fff5e3b57e4637489...|9999-05-12 00:00:00|      Yemen|Z5L, M3M, Z8P, R5...|
+-------+-----------------+----------+--------------------+-------------------+-----------+--------------------+

+-------+-----------------+----------+--------------------+------------------+-------------+--------------------+
|summary|              _c0|Unnamed: 0|      h_vehicle_hash|               fin|record_source|             load_ts|
+-------+-----------------+----------+--------------------+------------------+-------------+--------------------+
|  count|              500|       500|                 500|               500|          500|                 500|
|   mean|            249.5|       0.0|                null|4.2328400461785E13|         null|                null|
| stddev|144.4818327679989|       0.0|                null|              null|         null|                null|
|    min|                0|         0|00cb7b6fc44b7d6cd...|    42328400461785|        vedoc|2021-11-26 12:22:...|
|    max|              499|         0|fff5e3b57e4637489...| WEB97660119146295|        vedoc|2021-11-26 12:22:...|
+-------+-----------------+----------+--------------------+------------------+-------------+--------------------+

#### Notes
* Presence of NULL/undefined values in sales code dataframe, no null found in vehicle_hash_df and engines_df
* faulty dates in "production_dates" column in sales_code_df , "fin" in vehicle_hash_df

In [7]:
# looking for entries which don't follow the vehicle ID format. RegEx:^[A-Z](\d|\w)[A-Z]\d{14}
vehicle_hash_df.where(~vehicle_hash_df["fin"].rlike("^[A-Z](\d|\w)[A-Z]\d{14}")).show()

+---+----------+--------------------+----------------+-------------+--------------------+
|_c0|Unnamed: 0|      h_vehicle_hash|             fin|record_source|             load_ts|
+---+----------+--------------------+----------------+-------------+--------------------+
| 86|         0|b820055eeacc6767f...|NMB7057091351743|        vedoc|2021-11-26 12:22:...|
|115|         0|b23b13902d1cd36b3...|         NM97254|        vedoc|2021-11-26 12:22:...|
|144|         0|d7dc551dbd7311612...|               W|        vedoc|2021-11-26 12:22:...|
|166|         0|920605e523c7c51a6...|  42328400461785|        vedoc|2021-11-26 12:22:...|
|457|         0|9196d2b34cdc15cb8...|MB60225250190773|        vedoc|2021-11-26 12:22:...|
|494|         0|638b2c1128f0ac139...|           WEB46|        vedoc|2021-11-26 12:22:...|
+---+----------+--------------------+----------------+-------------+--------------------+

In [8]:
# Looking for Corrupt data in the production_date column in Sales codes dataframe
sales_codes_df.groupBy(year(sales_codes_df["production_date"])).count().show()

+---------------------+-----+
|year(production_date)|count|
+---------------------+-----+
|                 2018|   44|
|                 2015|   48|
|                 2013|   47|
|                 null|    6|
|                 2014|   44|
|                 2019|   37|
|                 1910|    1|
|                 2020|   30|
|                 2012|   56|
|                 2055|    1|
|                 2016|   47|
|                 9999|    1|
|                 9080|    1|
|                 2011|   66|
|                 2017|   52|
|                 2021|   19|
+---------------------+-----+

In [9]:
# Looking for NULL values in the sales codes dataframe
sales_codes_df.where(sales_codes_df["production_date"].isNull()\
                    | sales_codes_df["country"].isNull()\
                    | sales_codes_df["h_vehicle_hash"].isNull()\
                    | sales_codes_df["sales_code_array"].isNull()).show()

+---+----------+--------------------+-------------------+--------------------+--------------------+
|_c0|Unnamed: 0|      h_vehicle_hash|    production_date|             country|    sales_code_array|
+---+----------+--------------------+-------------------+--------------------+--------------------+
| 26|         0|2cabda59cb5d6444a...|2013-08-10 00:00:00|                null|Z5F, M3V, M0S, U8...|
| 69|         0|4a9d1bfa9442b27ee...|2012-01-31 00:00:00|                null|Z5L, M3L, S5E, X3...|
| 88|         0|2b094a712b6bc8a45...|2014-01-25 00:00:00|                null|Z5L, M3L, Y4S, C0...|
|110|         0|cdf6699b58773197d...|2011-09-21 00:00:00|                null|Z5F, M3N, X1L, I5...|
|163|         0|                null|2019-11-30 00:00:00|         Philippines|Z5D, M2N, A2Z, X4...|
|175|         0|eee060a19ccfce166...|2018-02-18 00:00:00|                null|Z5E, M3D, Z2R, N2...|
|220|         0|f711fe5257cfd2c90...|2016-11-18 00:00:00|                null|Z5C, M2C, Q9Y, Z0...|
|224|         0|                null|2018-04-12 00:00:00|Kaimcratic Iepubl...|Z5E, M3C, D1W, Q7...|
|276|         0|1adc367d32dec427e...|2018-10-20 00:00:00|                null|Z5E, M3D, Z4K, F5...|
|299|         0|                null|2013-12-26 00:00:00|             Germany|Z5L, M3K, Q0B, F9...|
|346|         0|b18a57cacaf5e9bb1...|2018-05-10 00:00:00|                null|Z5E, M3B, R2U, W3...|
|367|         0|                null|2013-02-12 00:00:00|         Puerto Rico|Z5E, M3C, A2E, N5...|
|398|         0|5f820c6764b9e0e38...|2011-07-15 00:00:00|                null|Z5D, M2P, K5D, N9...|
|414|         0|83d9882ae27f41f63...|               null|              Syrien|Z5E, M3C, D4X, E3...|
|415|         0|447e6f4ade92303e0...|               null|             Tunisia|Z5L, M3K, R5N, C7...|
|416|         0|61f4de5cb6d4f2619...|               null|    French Polynesia|Z5B, M1J, C1W, F7...|
|435|         0|                null|2018-04-06 00:00:00|                Togo|Z5F, M3V, C5N, C2...|
|441|         0|1d6e10d6c2d72bd52...|2014-04-18 00:00:00|                null|Z5B, M1I, E4Y, Q7...|
+---+----------+--------------------+-------------------+--------------------+--------------------+

In [10]:
# Looking for country names that don't follow the formatting
# First letter Capital followed by small characters, RegEx: ^[A-Z][a-z].{0,50}
# check
sales_codes_df.filter(~sales_codes_df["country"].rlike("^[A-Z][a-z].{0,50}")).show()

+---+----------+--------------------+-------------------+---------+--------------------+
|_c0|Unnamed: 0|      h_vehicle_hash|    production_date|  country|    sales_code_array|
+---+----------+--------------------+-------------------+---------+--------------------+
|397|         0|2896855941ad1b044...|2011-05-25 00:00:00|GIBRALTAR|Z5L, M3J, C4B, D3...|
|402|         0|c0dc21ff18421f39b...|2012-07-10 00:00:00|GIBRALTAR|Z5F, M3N, T1D, Q3...|
|406|         0|19245e9fc3b29d054...|2018-12-13 00:00:00|GIBRALTAR|Z5D, M2S, K4E, K1...|
+---+----------+--------------------+-------------------+---------+--------------------+

#### Observation Notes:

* Presence of un-necessary columns which should be removed.
  
* Vehicle ID "fin" is a unique ID comprised of capital alphabets and numerals and follows a specific format. Those entries have to be removed which don't correspond to the ID format.

* Data types of some columns has to be rectified e.g. "production_date" should be DATE type. 

* Production Dates of some vehicles have corrupt values e.g. 9999/01/01.

* Format of country name should be a capital letter followed by small alphabets.

* "Sales_code_array" is just a string whereas it should be an array with string element type. 

* Furthermore, it should be taken into consideration that a vehicle/truck is driven by ONE engine only. If the composition of truck(Sales_code_array) is comprised of two or more engines then that particular entry has to removed.

* Rows with NULL/undefined values has to be removed.

##  2- Data Cleaning and Data Preparation 

### Data has to be cleaned and processed  
*************************************************************************************************************************

In [11]:
# Removing the additional columns 
sales_codes_df=sales_codes_df.drop("_c0","Unnamed: 0")
vehicle_hash_df=vehicle_hash_df.drop("_c0","Unnamed: 0")
engines_df=engines_df.drop("_c0")

In [12]:
# test and check for updated cols
sales_codes_df.show(3)
vehicle_hash_df.show(3)
engines_df.show(3)

+--------------------+-------------------+-------+--------------------+
|      h_vehicle_hash|    production_date|country|    sales_code_array|
+--------------------+-------------------+-------+--------------------+
|924d229bede272c5a...|2013-02-05 00:00:00|Namibia|Z5E, M3E, A4S, Y1...|
|3787a8db036dabd74...|2012-08-27 00:00:00|Germany|Z5D, M2N, K1X, Q2...|
|aea31cdf4f575acf1...|2015-08-11 00:00:00|Germany|Z5C, M2A, A5H, P7...|
+--------------------+-------------------+-------+--------------------+
only showing top 3 rows

+--------------------+-----------------+-------------+--------------------+
|      h_vehicle_hash|              fin|record_source|             load_ts|
+--------------------+-----------------+-------------+--------------------+
|924d229bede272c5a...|WEB14561113188001|        vedoc|2021-11-26 12:22:...|
|3787a8db036dabd74...|W1T61600516560507|        vedoc|2021-11-26 12:22:...|
|aea31cdf4f575acf1...|WEB74212637167838|        vedoc|2021-11-26 12:22:...|
+--------------------+-----------------+-------------+--------------------+
only showing top 3 rows

+-------------+--------------------+-------------------+-------------+----------+-------------------+-------------------+
|Code Group Id| Code Group Name En |Code Group Name De |  Folder Name|Sales Code|Code Description En|Code Description De|
+-------------+--------------------+-------------------+-------------+----------+-------------------+-------------------+
|          131|powertrain engine...|     motor baureihe|06 Powertrain|       M0I|             OM 924|             OM 924|
|          131|powertrain engine...|     motor baureihe|06 Powertrain|       M0J|             OM 926|             OM 926|
|          131|powertrain engine...|     motor baureihe|06 Powertrain|       Z5A|             M 936G|             M 936G|
+-------------+--------------------+-------------------+-------------+----------+-------------------+-------------------+
only showing top 3 rows

#### Note:
Irrelevant columns removed.

In [13]:
# Cleaning the Entries in vehicle ID "fin" column
# Using Regular Expression to clean data in the vehicle ID "fin" column
# vehicle id has a specific pattern which can be encoded as regular expression/RegEx
# RegEXP has the following sequence: Character,Digit/Character,Character,followed by 14 digits
vehicle_hash_df=vehicle_hash_df.filter(vehicle_hash_df["fin"].rlike("^[A-Z](\d|\w)[A-Z]\d{14}"))
vehicle_hash_df.printSchema()
vehicle_hash_df.show(3)
vehicle_hash_df.count()

root
 |-- h_vehicle_hash: string (nullable = true)
 |-- fin: string (nullable = true)
 |-- record_source: string (nullable = true)
 |-- load_ts: string (nullable = true)

+--------------------+-----------------+-------------+--------------------+
|      h_vehicle_hash|              fin|record_source|             load_ts|
+--------------------+-----------------+-------------+--------------------+
|924d229bede272c5a...|WEB14561113188001|        vedoc|2021-11-26 12:22:...|
|3787a8db036dabd74...|W1T61600516560507|        vedoc|2021-11-26 12:22:...|
|aea31cdf4f575acf1...|WEB74212637167838|        vedoc|2021-11-26 12:22:...|
+--------------------+-----------------+-------------+--------------------+
only showing top 3 rows

494

#### Note:
corrupt vehicle ID's "fin" have been removed

In [14]:
# Correcting the datatypes of columns in sales_codes_df and vehicle_hash_df dataframes
# Normalizing the data type in "production_date" column

sales_codes_df=sales_codes_df.withColumn("production_date",to_date("production_date"))
vehicle_hash_df=vehicle_hash_df.withColumn("load_ts",to_date("load_ts"))
sales_codes_df.show(5)
vehicle_hash_df.show(5)

sales_codes_df.printSchema()
vehicle_hash_df.printSchema()

+--------------------+---------------+---------+--------------------+
|      h_vehicle_hash|production_date|  country|    sales_code_array|
+--------------------+---------------+---------+--------------------+
|924d229bede272c5a...|     2013-02-05|  Namibia|Z5E, M3E, A4S, Y1...|
|3787a8db036dabd74...|     2012-08-27|  Germany|Z5D, M2N, K1X, Q2...|
|aea31cdf4f575acf1...|     2015-08-11|  Germany|Z5C, M2A, A5H, P7...|
|d92ed338496281e08...|     2015-02-22|Lithuania|Z5F, M3P, D3H, C8...|
|7934c4872515da4b1...|     2017-03-10|  Germany|Z5B, M1K, L1T, E6...|
+--------------------+---------------+---------+--------------------+
only showing top 5 rows

+--------------------+-----------------+-------------+----------+
|      h_vehicle_hash|              fin|record_source|   load_ts|
+--------------------+-----------------+-------------+----------+
|924d229bede272c5a...|WEB14561113188001|        vedoc|2021-11-26|
|3787a8db036dabd74...|W1T61600516560507|        vedoc|2021-11-26|
|aea31cdf4f575acf1...|WEB74212637167838|        vedoc|2021-11-26|
|d92ed338496281e08...|WDB73045113294326|        vedoc|2021-11-26|
|7934c4872515da4b1...|W1T38483757441350|        vedoc|2021-11-26|
+--------------------+-----------------+-------------+----------+
only showing top 5 rows

root
 |-- h_vehicle_hash: string (nullable = true)
 |-- production_date: date (nullable = true)
 |-- country: string (nullable = true)
 |-- sales_code_array: string (nullable = true)

root
 |-- h_vehicle_hash: string (nullable = true)
 |-- fin: string (nullable = true)
 |-- record_source: string (nullable = true)
 |-- load_ts: date (nullable = true)

#### Note
Datatypes of production_date and load_ts have been updated.

In [15]:
# Removing entries with false dates
# data has values like 9999,2055,9080 as year of production
sales_codes_df=sales_codes_df.filter((year(sales_codes_df.production_date)<=2021)\
                                           & (year(sales_codes_df.production_date)>=1998))

In [16]:
# Test
sales_codes_df.groupBy(year(sales_codes_df["production_date"])).count().show()

+---------------------+-----+
|year(production_date)|count|
+---------------------+-----+
|                 2018|   44|
|                 2015|   48|
|                 2013|   47|
|                 2014|   44|
|                 2019|   37|
|                 2020|   30|
|                 2012|   56|
|                 2016|   47|
|                 2011|   66|
|                 2017|   52|
|                 2021|   19|
+---------------------+-----+

#### Note
Corrupt dates in production_date have been removed and sales_code_df updated

In [17]:
# Applying the format for country names (first alphabet capital and rest are small aplhabets)
sales_codes_df=sales_codes_df.withColumn("country",initcap(sales_codes_df["country"]))

# Test and check updated dataframe
sales_codes_df.where(sales_codes_df["country"]=="Gibraltar").show()

+--------------------+---------------+---------+--------------------+
|      h_vehicle_hash|production_date|  country|    sales_code_array|
+--------------------+---------------+---------+--------------------+
|2896855941ad1b044...|     2011-05-25|Gibraltar|Z5L, M3J, C4B, D3...|
|c0dc21ff18421f39b...|     2012-07-10|Gibraltar|Z5F, M3N, T1D, Q3...|
|19245e9fc3b29d054...|     2018-12-13|Gibraltar|Z5D, M2S, K4E, K1...|
+--------------------+---------------+---------+--------------------+

#### Note:
Formatting applied to the country names in the "country" column in sales_codes_df

In [18]:
# Normalizing the Data type of "sales_code_array"
sales_codes_df=sales_codes_df.withColumn("sales_code_array",split("sales_code_array",", "))

# Test
sales_codes_df.printSchema()
sales_codes_df.show(3)

root
 |-- h_vehicle_hash: string (nullable = true)
 |-- production_date: date (nullable = true)
 |-- country: string (nullable = true)
 |-- sales_code_array: array (nullable = true)
 |    |-- element: string (containsNull = true)

+--------------------+---------------+-------+--------------------+
|      h_vehicle_hash|production_date|country|    sales_code_array|
+--------------------+---------------+-------+--------------------+
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|
|3787a8db036dabd74...|     2012-08-27|Germany|[Z5D, M2N, K1X, Q...|
|aea31cdf4f575acf1...|     2015-08-11|Germany|[Z5C, M2A, A5H, P...|
+--------------------+---------------+-------+--------------------+
only showing top 3 rows

#### Note:
Normalized the data-type of "sales_code_array" : an array with string elements

In [19]:
# check if sales_code_array has sales code of multiple engines,
# we use engine_df here to join the two dataframes based on "sales code" as the key
# Exploding the sales code array to see all the sales codes against a single vehicle ID
sales_codes_df=sales_codes_df.withColumn("vehicle_comp",explode(sales_codes_df.sales_code_array))
sales_codes_df.show()

+--------------------+---------------+-------+--------------------+------------+
|      h_vehicle_hash|production_date|country|    sales_code_array|vehicle_comp|
+--------------------+---------------+-------+--------------------+------------+
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         Z5E|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         M3E|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         A4S|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         Y1R|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         F5E|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         J3Y|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         X4M|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         J1Z|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         M5X|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         V8O|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         M6O|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         M8Q|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         C0E|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         D2C|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         B1A|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         M5N|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         P1C|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         C9Q|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         U2T|
|924d229bede272c5a...|     2013-02-05|Namibia|[Z5E, M3E, A4S, Y...|         P6H|
+--------------------+---------------+-------+--------------------+------------+
only showing top 20 rows

In [20]:
sales_codes_df=sales_codes_df.join(engines_df,sales_codes_df["vehicle_comp"]==engines_df["Sales Code"],"inner")
sales_codes_df.columns

['h_vehicle_hash',
 'production_date',
 'country',
 'sales_code_array',
 'vehicle_comp',
 'Code Group Id',
 'Code Group Name En ',
 'Code Group Name De ',
 'Folder Name',
 'Sales Code',
 'Code Description En',
 'Code Description De']

In [21]:
# for a better description
sales_codes_df=sales_codes_df.select("h_vehicle_hash","production_date","country","sales_code_array",\
                      "vehicle_comp","Sales Code","Code Description En")

In [22]:
sales_codes_df=sales_codes_df.groupBy("h_vehicle_hash","production_date","country","sales_code_array")\
.agg(concat_ws(', ',collect_set("Sales Code")).alias("Engine Sales Code")\
     ,concat_ws(', ',collect_set("Code Description En")).alias("Engines used"))
sales_codes_df.show()

+--------------------+---------------+--------------------+--------------------+-----------------+--------------+
|      h_vehicle_hash|production_date|             country|    sales_code_array|Engine Sales Code|  Engines used|
+--------------------+---------------+--------------------+--------------------+-----------------+--------------+
|33f4215da96af4dfb...|     2017-12-21|   Serbia Montenegro|[Z5L, M3M, H8U, P...|              Z5L|        OM 460|
|43aba6dfaa7f21b40...|     2015-09-07|              Azores|[Z5E, M3E, E1N, P...|         Z5A, Z5E|M 936G, OM 471|
|5652bc231dd43ca6a...|     2021-04-21|             Germany|[Z5C, M2E, N7W, E...|              Z5C|        OM 936|
|fc036bd4d5409fc9f...|     2019-09-08|             Germany|[Z5B, M1I, R5N, Q...|              Z5B|        OM 934|
|00cb7b6fc44b7d6cd...|     2013-08-04|               Qatar|[Z5C, M2C, O5T, Y...|              Z5C|        OM 936|
|251c5da8b2c0a9dd0...|     2012-11-02|             Germany|[Z5D, M2R, W3Z, Z...|              Z5D|        OM 470|
|75182f7a6a01463f1...|     2018-04-18|              Jordan|[Z5F, M3V, R4P, V...|              Z5F|        OM 473|
|9197101097ac8a84f...|     2011-11-10|              Bhutan|[Z5F, M3N, C5J, A...|              Z5F|        OM 473|
|22825d08d3218cb0a...|     2021-04-25|                Iran|[Z5B, M1H, D2H, S...|              Z5B|        OM 934|
|bb752945a202795c0...|     2017-01-11|              Turkey|[Z5L, M3H, A2P, Q...|              Z5L|        OM 460|
|2f7b85e81ac6bb58a...|     2015-05-30| Republic Of Moldova|[Z5L, M3M, Q4N, P...|              Z5L|        OM 460|
|                null|     2018-04-12|Kaimcratic Iepubl...|[Z5E, M3C, D1W, Q...|              Z5E|        OM 471|
|0e31bc34927355d9e...|     2014-01-13|           Swasiland|[Z5F, M3V, T2C, C...|              Z5F|        OM 473|
|b4df1b4faf85138f4...|     2015-09-11|               Qatar|[Z5E, M3B, W7M, R...|              Z5E|        OM 471|
|6cb2a05fa5378a1ff...|     2014-04-05|             Germany|[Z5L, M3M, W2D, W...|         Z5L, M0I|OM 460, OM 924|
|d1e1a6c8542d60fc5...|     2011-09-22|             Germany|[Z5C, M2A, C0S, M...|              Z5C|        OM 936|
|5e001b6fd94922709...|     2011-02-15|            Thailand|[Z5D, M2N, N2I, F...|              Z5D|        OM 470|
|cf34d779d642e7f15...|     2012-06-11|             Grenada|[Z5B, M1I, A2N, E...|              Z5B|        OM 934|
|ed1d59777b523b4ec...|     2018-01-29|              Libyen|[Z5D, M2R, C6G, D...|              Z5D|        OM 470|
|17ec7629d7e683226...|     2016-04-28|             Germany|[Z5F, M3V, W7T, V...|              Z5F|        OM 473|
+--------------------+---------------+--------------------+--------------------+-----------------+--------------+
only showing top 20 rows

In [23]:
# It can be observed that there are vehicles with More than ONE engine which seems unlikely to happen
# Hence we remove those entries with more than one engines
sales_codes_df.where(length(sales_codes_df["Engine Sales Code"])>3).show()

+--------------------+---------------+--------------------+--------------------+-----------------+--------------------+
|      h_vehicle_hash|production_date|             country|    sales_code_array|Engine Sales Code|        Engines used|
+--------------------+---------------+--------------------+--------------------+-----------------+--------------------+
|43aba6dfaa7f21b40...|     2015-09-07|              Azores|[Z5E, M3E, E1N, P...|         Z5A, Z5E|      M 936G, OM 471|
|6cb2a05fa5378a1ff...|     2014-04-05|             Germany|[Z5L, M3M, W2D, W...|         Z5L, M0I|      OM 460, OM 924|
|be9c0425cd927d63e...|     2011-03-06|            Simbabwe|[Z5F, M3N, A2F, V...|         M0I, Z5F|      OM 473, OM 924|
|708cac2bd86d57ed7...|     2018-08-30|             Germany|[Z5L, M3J, F7Q, L...|         Z5A, Z5L|      M 936G, OM 460|
|224a4779c9f5af1c2...|     2011-08-10|             Germany|[Z5C, M2D, Z7Y, R...|         Z5A, Z5C|      M 936G, OM 936|
|37aedebe2b71b332b...|     2013-02-26|        Soviet Union|[Z5E, M3E, C5C, C...|         Z5E, M0I|      OM 471, OM 924|
|                null|     2013-12-26|             Germany|[Z5L, M3K, Q0B, F...|         Z5L, M0I|      OM 460, OM 924|
|2c57d4e7d0dd43fd2...|     2017-09-10|            Tansania|[Z5L, M3I, F7E, O...|         Z5L, M0I|      OM 460, OM 924|
|432dcc321c6a65291...|     2014-02-28|          Kambodscha|[Z5C, M2A, P8A, F...|         Z5C, M0I|      OM 936, OM 924|
|e780cb66364972742...|     2012-10-28|            Paraguay|[Z5F, M3V, V5A, O...|         Z5A, Z5F|      M 936G, OM 473|
|65e5a534e85aea86b...|     2018-08-16|              Turkey|[Z5B, M1H, Z4I, B...|         M0I, Z5B|      OM 934, OM 924|
|e5ab613e09f45c8bd...|     2017-12-10|United Arab Emirates|[Z5L, M3L, Q7W, Q...|    Z5A, Z5L, M0J|M 936G, OM 460, O...|
|38488e286dd3e9422...|     2015-07-20|                Iran|[Z5C, M2E, M0I, C...|    Z5C, M0I, M0J|OM 936, OM 924, O...|
|8ea266ca19507a4f5...|     2013-04-19|             Mayotte|[Z5B, M1H, M0S, O...|         Z5A, Z5B|      M 936G, OM 934|
|0582ecc63cbe93460...|     2013-09-02|            Barbados|[Z5E, M3B, K2M, C...|         Z5A, Z5E|      M 936G, OM 471|
|a0cd1cd0a63aa8680...|     2012-05-23|             Germany|[Z5E, M3C, M8D, S...|         Z5A, Z5E|      M 936G, OM 471|
|7bb2ddb1b33492c54...|     2012-10-21|The Former Yugosl...|[Z5L, M3L, C0J, Q...|         Z5A, Z5L|      M 936G, OM 460|
|67a7de8e65181e349...|     2016-04-23|            Mongolia|[Z5C, M2A, Q1S, W...|         Z5A, Z5C|      M 936G, OM 936|
|d4743dc3ae55817f6...|     2014-02-12|Netherlands Antil...|[Z5F, M3P, I4B, N...|         Z5F, M0J|      OM 473, OM 926|
|87fb1b6700b38f831...|     2011-06-14|      Oceania / Guam|[Z5F, M3N, R2L, R...|         M0I, Z5F|      OM 473, OM 924|
+--------------------+---------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

In [24]:
### Removing those entries which have sales_code_array corresponding to multiple engines in one Vehicle
sales_codes_df=sales_codes_df.where(length(sales_codes_df["Engine Sales Code"])<=3)

# test
sales_codes_df.show()
sales_codes_df.count()

+--------------------+---------------+--------------------+--------------------+-----------------+------------+
|      h_vehicle_hash|production_date|             country|    sales_code_array|Engine Sales Code|Engines used|
+--------------------+---------------+--------------------+--------------------+-----------------+------------+
|33f4215da96af4dfb...|     2017-12-21|   Serbia Montenegro|[Z5L, M3M, H8U, P...|              Z5L|      OM 460|
|5652bc231dd43ca6a...|     2021-04-21|             Germany|[Z5C, M2E, N7W, E...|              Z5C|      OM 936|
|fc036bd4d5409fc9f...|     2019-09-08|             Germany|[Z5B, M1I, R5N, Q...|              Z5B|      OM 934|
|00cb7b6fc44b7d6cd...|     2013-08-04|               Qatar|[Z5C, M2C, O5T, Y...|              Z5C|      OM 936|
|251c5da8b2c0a9dd0...|     2012-11-02|             Germany|[Z5D, M2R, W3Z, Z...|              Z5D|      OM 470|
|75182f7a6a01463f1...|     2018-04-18|              Jordan|[Z5F, M3V, R4P, V...|              Z5F|      OM 473|
|9197101097ac8a84f...|     2011-11-10|              Bhutan|[Z5F, M3N, C5J, A...|              Z5F|      OM 473|
|22825d08d3218cb0a...|     2021-04-25|                Iran|[Z5B, M1H, D2H, S...|              Z5B|      OM 934|
|bb752945a202795c0...|     2017-01-11|              Turkey|[Z5L, M3H, A2P, Q...|              Z5L|      OM 460|
|2f7b85e81ac6bb58a...|     2015-05-30| Republic Of Moldova|[Z5L, M3M, Q4N, P...|              Z5L|      OM 460|
|                null|     2018-04-12|Kaimcratic Iepubl...|[Z5E, M3C, D1W, Q...|              Z5E|      OM 471|
|0e31bc34927355d9e...|     2014-01-13|           Swasiland|[Z5F, M3V, T2C, C...|              Z5F|      OM 473|
|b4df1b4faf85138f4...|     2015-09-11|               Qatar|[Z5E, M3B, W7M, R...|              Z5E|      OM 471|
|d1e1a6c8542d60fc5...|     2011-09-22|             Germany|[Z5C, M2A, C0S, M...|              Z5C|      OM 936|
|5e001b6fd94922709...|     2011-02-15|            Thailand|[Z5D, M2N, N2I, F...|              Z5D|      OM 470|
|cf34d779d642e7f15...|     2012-06-11|             Grenada|[Z5B, M1I, A2N, E...|              Z5B|      OM 934|
|ed1d59777b523b4ec...|     2018-01-29|              Libyen|[Z5D, M2R, C6G, D...|              Z5D|      OM 470|
|17ec7629d7e683226...|     2016-04-28|             Germany|[Z5F, M3V, W7T, V...|              Z5F|      OM 473|
|89ee17d9123243920...|     2017-03-22|      Oceania / Guam|[Z5C, M2E, O1H, W...|              Z5C|      OM 936|
|74c6c63e819d42409...|     2011-08-30|       French Guiana|[Z5B, M1J, R8E, K...|              Z5B|      OM 934|
+--------------------+---------------+--------------------+--------------------+-----------------+------------+
only showing top 20 rows

417

#### Note:
Entries which shows multiple engines against one vehicle have been removed and sales_codes_df updated accordingly.

In [25]:
# Checking for NULL/nan values in the data and Removing them
sales_codes_df=sales_codes_df.na.drop("any")
vehicle_hash_df=vehicle_hash_df.na.drop("any")
engines_df=engines_df.na.drop("any")
sales_codes_df.printSchema()
sales_codes_df.show(10)
sales_codes_df.count()

root
 |-- h_vehicle_hash: string (nullable = true)
 |-- production_date: date (nullable = true)
 |-- country: string (nullable = true)
 |-- sales_code_array: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Engine Sales Code: string (nullable = false)
 |-- Engines used: string (nullable = false)

+--------------------+---------------+-------------------+--------------------+-----------------+------------+
|      h_vehicle_hash|production_date|            country|    sales_code_array|Engine Sales Code|Engines used|
+--------------------+---------------+-------------------+--------------------+-----------------+------------+
|33f4215da96af4dfb...|     2017-12-21|  Serbia Montenegro|[Z5L, M3M, H8U, P...|              Z5L|      OM 460|
|5652bc231dd43ca6a...|     2021-04-21|            Germany|[Z5C, M2E, N7W, E...|              Z5C|      OM 936|
|fc036bd4d5409fc9f...|     2019-09-08|            Germany|[Z5B, M1I, R5N, Q...|              Z5B|      OM 934|
|00cb7b6fc44b7d6cd...|     2013-08-04|              Qatar|[Z5C, M2C, O5T, Y...|              Z5C|      OM 936|
|251c5da8b2c0a9dd0...|     2012-11-02|            Germany|[Z5D, M2R, W3Z, Z...|              Z5D|      OM 470|
|75182f7a6a01463f1...|     2018-04-18|             Jordan|[Z5F, M3V, R4P, V...|              Z5F|      OM 473|
|9197101097ac8a84f...|     2011-11-10|             Bhutan|[Z5F, M3N, C5J, A...|              Z5F|      OM 473|
|22825d08d3218cb0a...|     2021-04-25|               Iran|[Z5B, M1H, D2H, S...|              Z5B|      OM 934|
|bb752945a202795c0...|     2017-01-11|             Turkey|[Z5L, M3H, A2P, Q...|              Z5L|      OM 460|
|2f7b85e81ac6bb58a...|     2015-05-30|Republic Of Moldova|[Z5L, M3M, Q4N, P...|              Z5L|      OM 460|
+--------------------+---------------+-------------------+--------------------+-----------------+------------+
only showing top 10 rows

404

### Cleaned Dataframes

In [26]:
# Displays the cleaned dataframes
sales_codes_df.show(10),vehicle_hash_df.show(10)
sales_codes_df.printSchema(),vehicle_hash_df.printSchema()
sales_codes_df.count(),vehicle_hash_df.count()

+--------------------+---------------+-------------------+--------------------+-----------------+------------+
|      h_vehicle_hash|production_date|            country|    sales_code_array|Engine Sales Code|Engines used|
+--------------------+---------------+-------------------+--------------------+-----------------+------------+
|33f4215da96af4dfb...|     2017-12-21|  Serbia Montenegro|[Z5L, M3M, H8U, P...|              Z5L|      OM 460|
|5652bc231dd43ca6a...|     2021-04-21|            Germany|[Z5C, M2E, N7W, E...|              Z5C|      OM 936|
|fc036bd4d5409fc9f...|     2019-09-08|            Germany|[Z5B, M1I, R5N, Q...|              Z5B|      OM 934|
|00cb7b6fc44b7d6cd...|     2013-08-04|              Qatar|[Z5C, M2C, O5T, Y...|              Z5C|      OM 936|
|251c5da8b2c0a9dd0...|     2012-11-02|            Germany|[Z5D, M2R, W3Z, Z...|              Z5D|      OM 470|
|75182f7a6a01463f1...|     2018-04-18|             Jordan|[Z5F, M3V, R4P, V...|              Z5F|      OM 473|
|9197101097ac8a84f...|     2011-11-10|             Bhutan|[Z5F, M3N, C5J, A...|              Z5F|      OM 473|
|22825d08d3218cb0a...|     2021-04-25|               Iran|[Z5B, M1H, D2H, S...|              Z5B|      OM 934|
|bb752945a202795c0...|     2017-01-11|             Turkey|[Z5L, M3H, A2P, Q...|              Z5L|      OM 460|
|2f7b85e81ac6bb58a...|     2015-05-30|Republic Of Moldova|[Z5L, M3M, Q4N, P...|              Z5L|      OM 460|
+--------------------+---------------+-------------------+--------------------+-----------------+------------+
only showing top 10 rows

+--------------------+-----------------+-------------+----------+
|      h_vehicle_hash|              fin|record_source|   load_ts|
+--------------------+-----------------+-------------+----------+
|924d229bede272c5a...|WEB14561113188001|        vedoc|2021-11-26|
|3787a8db036dabd74...|W1T61600516560507|        vedoc|2021-11-26|
|aea31cdf4f575acf1...|WEB74212637167838|        vedoc|2021-11-26|
|d92ed338496281e08...|WDB73045113294326|        vedoc|2021-11-26|
|7934c4872515da4b1...|W1T38483757441350|        vedoc|2021-11-26|
|14099ecd0625030ad...|WEB82551539603557|        vedoc|2021-11-26|
|31af1c9e3162b07c3...|W1T84369654532934|        vedoc|2021-11-26|
|79313aefe4936c52f...|WDB11960124228241|        vedoc|2021-11-26|
|5b15f251639c1ff25...|WDB85824751704234|        vedoc|2021-11-26|
|70d85da3bc330c69b...|NMB84740361813870|        vedoc|2021-11-26|
+--------------------+-----------------+-------------+----------+
only showing top 10 rows

root
 |-- h_vehicle_hash: string (nullable = true)
 |-- production_date: date (nullable = true)
 |-- country: string (nullable = true)
 |-- sales_code_array: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Engine Sales Code: string (nullable = false)
 |-- Engines used: string (nullable = false)

root
 |-- h_vehicle_hash: string (nullable = true)
 |-- fin: string (nullable = true)
 |-- record_source: string (nullable = true)
 |-- load_ts: date (nullable = true)

(404, 494)

#### Note:
The Dataframes have been cleaned and are ready for further processing.

## 3- Merging the dataframes 
******************************************************************************************************************

In [27]:
# Merging DF with h_vhicle_hash as the key 
merged_vehicle_DF=sales_codes_df.join(vehicle_hash_df,sales_codes_df.h_vehicle_hash == vehicle_hash_df.h_vehicle_hash,"inner")

In [28]:
# Displaying the newly created dataframe
merged_vehicle_DF.show(5)
merged_vehicle_DF.count()

+--------------------+---------------+-----------------+--------------------+-----------------+------------+--------------------+-----------------+-------------+----------+
|      h_vehicle_hash|production_date|          country|    sales_code_array|Engine Sales Code|Engines used|      h_vehicle_hash|              fin|record_source|   load_ts|
+--------------------+---------------+-----------------+--------------------+-----------------+------------+--------------------+-----------------+-------------+----------+
|33f4215da96af4dfb...|     2017-12-21|Serbia Montenegro|[Z5L, M3M, H8U, P...|              Z5L|      OM 460|33f4215da96af4dfb...|W1T59495989046715|        vedoc|2021-11-26|
|5652bc231dd43ca6a...|     2021-04-21|          Germany|[Z5C, M2E, N7W, E...|              Z5C|      OM 936|5652bc231dd43ca6a...|WDB14569296263563|        vedoc|2021-11-26|
|fc036bd4d5409fc9f...|     2019-09-08|          Germany|[Z5B, M1I, R5N, Q...|              Z5B|      OM 934|fc036bd4d5409fc9f...|WEB93242568855045|        vedoc|2021-11-26|
|00cb7b6fc44b7d6cd...|     2013-08-04|            Qatar|[Z5C, M2C, O5T, Y...|              Z5C|      OM 936|00cb7b6fc44b7d6cd...|W1T87125817097084|        vedoc|2021-11-26|
|251c5da8b2c0a9dd0...|     2012-11-02|          Germany|[Z5D, M2R, W3Z, Z...|              Z5D|      OM 470|251c5da8b2c0a9dd0...|NMB30945614935018|        vedoc|2021-11-26|
+--------------------+---------------+-----------------+--------------------+-----------------+------------+--------------------+-----------------+-------------+----------+
only showing top 5 rows

398

## 4- Final Dataframe 
####  consists of fin,  production_date, country, sales_code_array
*******************************************************************************************************************************

In [29]:
# Final data prepared after cleaning, pre-processing and transformation
vehicle_df=merged_vehicle_DF.select("fin","production_date","country","sales_code_array")
# Display
vehicle_df.show(10)
vehicle_df.count()

+-----------------+---------------+-------------------+--------------------+
|              fin|production_date|            country|    sales_code_array|
+-----------------+---------------+-------------------+--------------------+
|W1T59495989046715|     2017-12-21|  Serbia Montenegro|[Z5L, M3M, H8U, P...|
|WDB14569296263563|     2021-04-21|            Germany|[Z5C, M2E, N7W, E...|
|WEB93242568855045|     2019-09-08|            Germany|[Z5B, M1I, R5N, Q...|
|W1T87125817097084|     2013-08-04|              Qatar|[Z5C, M2C, O5T, Y...|
|NMB30945614935018|     2012-11-02|            Germany|[Z5D, M2R, W3Z, Z...|
|W1T86983370738640|     2018-04-18|             Jordan|[Z5F, M3V, R4P, V...|
|WDB64784317986685|     2011-11-10|             Bhutan|[Z5F, M3N, C5J, A...|
|NMB13893965899050|     2021-04-25|               Iran|[Z5B, M1H, D2H, S...|
|NMB91532838482279|     2017-01-11|             Turkey|[Z5L, M3H, A2P, Q...|
|WDB12124059592712|     2015-05-30|Republic Of Moldova|[Z5L, M3M, Q4N, P...|
+-----------------+---------------+-------------------+--------------------+
only showing top 10 rows

398

In [30]:
# Appending the Existing vehicle_data.xlsx with a new sheet from the merged data
import openpyxl
book = openpyxl.load_workbook('vehicle_data.xlsx') #Already existing workbook
writer = pandas.ExcelWriter('vehicle_data.xlsx', engine='openpyxl') #Using openpyxl

#Migrating the already existing worksheets to writer
writer.book = book
writer.sheets = {x.title: x for x in book.worksheets}

vehicle_df.toPandas().to_excel(writer, sheet_name='merged vehicle data')
writer.save()

# Task 2: Data Science
********************************************************

## 1- What are the top three countries in which between 01/01/2014 and 31/12/2020 most vehicles were sold?

In [ ]:
# Filtering countries based on Dates
# Grouping the countries together
# Sorting Countries based on the count
vehicle_df\
.filter((vehicle_df.production_date >= "2014-01-01") &\
        (vehicle_df.production_date <= "2020-12-31"))\
.groupBy("country").count()\
.orderBy("count",ascending=False).show(3) 
print("Result shows top three countries where most vehicles got sold between 01/01/2014 & 31/12/2020")

In [ ]:
# Exploring the result with WordCloud 
# importing the necessary modules
# creating pandas df for wc plot
from wordcloud import WordCloud
import matplotlib.pyplot as plt

wc_plot_df=vehicle_df\
.filter((vehicle_df.production_date >= "2014-01-01") &\
        (vehicle_df.production_date <= "2020-12-31") )\
.groupBy("country").count()\
.orderBy("count",ascending=False).toPandas()

In [ ]:
data = wc_plot_df.set_index('country').to_dict()['count']   # Need data in dic type to proceed further
wc = WordCloud(background_color="white",width=800, height=400, max_words=200).generate_from_frequencies(data)
plt.figure(figsize=(10, 10))
plt.imshow(wc, interpolation='bilinear')
print("Pictorial representation that depicts countries selling the most vehicles")

## 2- In which of these years, we have sold a total of most vehicles?

In [ ]:
# Grouping the data by years and units sold in each year respectively
vehicle_df.withColumn("production_date",year(vehicle_df.production_date))\
.groupBy("production_date").count()\
.orderBy("count",ascending=False).show()
print("Total number of units sold in each year")

In [ ]:
# Representing the results with a bar plot 
import seaborn 
bar_plt_df=vehicle_df.withColumn("production_date",year(vehicle_df.production_date))\
.groupBy("production_date").count()\
.orderBy("count",ascending=False).toPandas()
seaborn.barplot(x='production_date',y='count',data=bar_plt_df)

## 3- Which FIN is the first vehicle sold in terms of time?

In [ ]:
# first vehicle stores the result as a list/first elelment of the dataframe after sorting with date 
first_vehicle=vehicle_df.sort("production_date").select("fin","production_date","country").first()
first_vehicle

In [ ]:
print("fin:'{0}' is the first vehicle corresponding to date:'{1}', shipped to '{2}'"\
      .format(first_vehicle[0],first_vehicle[1],first_vehicle[2]))

## 4- How many vehicles were sold between 01/01/2017 and 01/01/2021 with OM934, OM936, OM470 and OM471 engines ?

In [ ]:
# task 2 part 4 (method 1)
test_df=vehicle_df.withColumn("engine_sales_code", vehicle_df["sales_code_array"].getItem(0))
test_df=test_df.join(engines_df,test_df.engine_sales_code == engines_df["Sales Code"],"inner")\
.select("fin","production_date","country","engine_sales_code","Code Description En")
#test_df.show()
result_df=test_df.filter((test_df["production_date"]>="2017-01-01") &\
              (test_df["production_date"]<="2021-01-01"))\
.where((test_df.engine_sales_code == "Z5B") | (test_df.engine_sales_code == "Z5C")\
      | (test_df.engine_sales_code == "Z5D") | (test_df.engine_sales_code == "Z5E"))
result_df.show()
result_df.count()

In [ ]:
result_df.groupBy("engine_sales_code","Code Description En").count().show()

In [ ]:
# solution 2 task 2 part 4
sample_df=vehicle_df.filter((array_contains(vehicle_df.sales_code_array,'Z5B'))\
                            | (array_contains(vehicle_df.sales_code_array,'Z5C'))\
                            | (array_contains(vehicle_df.sales_code_array,'Z5D'))\
                            | (array_contains(vehicle_df.sales_code_array,'Z5E')))\
.where((vehicle_df["production_date"]>="2017-01-01") & (vehicle_df["production_date"]<="2021-01-01"))
sample_df.show()

## 5- Which vehicles (FIN) were sold to New Zealand between 01/01/2017 and 01/01/2021 and with an OM936 engine?

In [ ]:
result_df1=test_df.filter((test_df["production_date"]>="2017-01-01") &\
              (test_df["production_date"]<="2021-01-01") &\
              (test_df["country"]=="Neuseeland"))\
.where((test_df.engine_sales_code == "Z5B") | (test_df.engine_sales_code == "Z5C")\
      | (test_df.engine_sales_code == "Z5D") | (test_df.engine_sales_code == "Z5E"))
result_df1.show()
result_df1.count()

In [ ]:
# Solution 2 task 2 part 5
sample_df1=vehicle_df.filter(array_contains(vehicle_df.sales_code_array,'Z5C'))\
.where((vehicle_df["production_date"]>="2017-01-01") & (vehicle_df["production_date"]<="2021-01-01")\
      & (vehicle_df["country"]=="Neuseeland"))
sample_df1.show()
sample_df1.count()